In [1]:
myvar = 5
print(myvar)

5

In [ ]:
# Getting user input

In [4]:
num1 = int(input("enter the 1st number :"))
num2 = int(input("enter the 2nd number :"))

if(num1 > num2):
  print("num1 is greater")
elif(num2 > num1):
  print("num2 is greater")

enter the 1st number : 4
enter the 2nd number : 6

num2 is greater

In [8]:
TextMe = int(input("Enter the TextMe Number :"))
if TextMe == 6:
    print("TextMe equals 6! ")
else:
    print("TextMe does not equals 6!")

Enter the TextMe Number : 890

TextMe does not equals 6!

In [12]:
print("1. Red")
print("2. Orange")
print("3. Yellow")
print("4. Green")
print("5. Blue")
print("6. Purple")

choice = int(input("Select your favorite color :"))

#decision making

if (choice == 1):
 print("You have chosen red:")
elif (choice == 2):
 print("You have chosen orange:")
elif (choice == 3):
 print("You have chosen Yellow:")
elif (choice == 4):
 print("You have chosen Green:")
elif (choice == 5):
 print("You have chosen Blue:")
elif (choice == 6):
 print("You have chosen Purple:")
else:
 print("You have chosen a number that does not exist")
 print("Have a great day")

1. Red
2. Orange
3. Yellow
4. Green
5. Blue
6. Purple

Select your favorite color : 6

You have chosen Purple:

In [9]:
print("1. Cat")
print("2. Dog")
print("3. Rabbit")
print("4. Monkey")
print("5. Leapard")
print("6. Bird")

choice = int(input("Select your favorite animal :"))

if (choice == 1):
 print("You have chosen Cat")
elif (choice == 2):
 print("You have chosen Dog")
elif (choice == 3):
 print("You have chosen Rabbit")
elif (choice == 4):
 print("You have chosen Monkey")
elif (choice == 5):
 print("You have chosen Leopard")
elif (choice == 6):
 print("You have chosen Bird")
else:
 print("You have chosen a animal  that does not exist")
 print("Have a great day")

voice = int(input("Select your favorite voice :"))

print("1. Meow")
print("2. HOOWW")
print("3. kikiki")
print("4. keykey")
print("5. ssssss")
print("6. kakaka")

if (choice == 1) and (voice == 1):
 print("You have chosen Cat")
elif (choice == 2) and (voice == 2) and (voice != 1):
 print("You have chosen Dog") 
elif (choice == 3) and (voice == 3):
 print("You have chosen Rabbit")
elif (choice == 4) and (voice == 4):
 print("You have chosen Monkey")
elif (choice == 5) and (voice == 5):
 print("You have chosen Leopard")
elif (choice == 6) and (voice == 6):
 print("You have chosen Bird")
else:
 print("You have chosen a animal  that does not exist")
 print("Have a great day")

1. Cat
2. Dog
3. Rabbit
4. Monkey
5. Leapard
6. Bird

Select your favorite animal : 2

You have chosen Dog

Select your favorite voice : 2

1. Meow
2. HOOWW
3. kikiki
4. keykey
5. ssssss
6. kakaka
You have chosen Dog

In [ ]:
# Great Job Sharmila ----

In [13]:
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
import warnings
df =pd.read_csv("C:/Users/senth/OneDrive/Desktop/electricity.csv")

C:\Users\senth\AppData\Local\Temp\ipykernel_13532\1566669122.py:5: DtypeWarning: Columns (9,10,11,14,15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df =pd.read_csv("C:/Users/senth/OneDrive/Desktop/electricity.csv")

In [14]:
df.head()

,DateTime,Holiday,HolidayFlag,DayOfWeek,WeekOfYear,Day,Month,Year,PeriodOfDay,ForecastWindProduction,SystemLoadEA,SMPEA,ORKTemperature,ORKWindspeed,CO2Intensity,ActualWindProduction,SystemLoadEP2,SMPEP2
0,01/11/2011 00:00,NaN,0,1,44,1,11,2011,0,315.31,3388.77,49.26,6.00,9.30,600.71,356.00,3159.60,54.32
1,01/11/2011 00:30,NaN,0,1,44,1,11,2011,1,321.80,3196.66,49.26,6.00,11.10,605.42,317.00,2973.01,54.23
2,01/11/2011 01:00,NaN,0,1,44,1,11,2011,2,328.57,3060.71,49.10,5.00,11.10,589.97,311.00,2834.00,54.23
3,01/11/2011 01:30,NaN,0,1,44,1,11,2011,3,335.60,2945.56,48.04,6.00,9.30,585.94,313.00,2725.99,53.47
4,01/11/2011 02:00,NaN,0,1,44,1,11,2011,4,342.90,2849.34,33.75,6.00,11.10,571.52,346.00,2655.64,39.87

In [15]:
df.describe()

,HolidayFlag,DayOfWeek,WeekOfYear,Day,Month,Year,PeriodOfDay
count,38014.000000,38014.000000,38014.000000,38014.000000,38014.000000,38014.000000,38014.000000
mean,0.040406,2.997317,28.124586,15.739412,6.904246,2012.383859,23.501105
std,0.196912,1.999959,15.587575,8.804247,3.573696,0.624956,13.853108
min,0.000000,0.000000,1.000000,1.000000,1.000000,2011.000000,0.000000
25%,0.000000,1.000000,15.000000,8.000000,4.000000,2012.000000,12.000000
50%,0.000000,3.000000,29.000000,16.000000,7.000000,2012.000000,24.000000
75%,0.000000,5.000000,43.000000,23.000000,10.000000,2013.000000,35.750000
max,1.000000,6.000000,52.000000,31.000000,12.000000,2013.000000,47.000000

In [17]:
df.columns

Index(['DateTime', 'Holiday', 'HolidayFlag', 'DayOfWeek', 'WeekOfYear', 'Day',
       'Month', 'Year', 'PeriodOfDay', 'ForecastWindProduction',
       'SystemLoadEA', 'SMPEA', 'ORKTemperature', 'ORKWindspeed',
       'CO2Intensity', 'ActualWindProduction', 'SystemLoadEP2', 'SMPEP2'],
      dtype='object')