In [9]:
import pandas as pd

df = pd.read_csv("C:/Users/senth/OneDrive/Desktop/merged_data.csv")

df['Total_Water_Cost'] = df['Water Consumption'] * df['Water Cost']
df['Total_EB_Cost']  = df['Electricity Consumption'] * df['Electricity Cost']
df['Total_Gas_Cost'] = df['Gas Consumption'] * df['Gas Cost']

Building_cost = df.groupby('Building') .agg({
               'Total_Water_Cost' : 'sum', 
               'Total_EB_Cost' : 'sum',
               'Total_Gas_Cost' : 'sum'                 
}) .reset_index()

print(Building_cost)

  Building  Total_Water_Cost  Total_EB_Cost  Total_Gas_Cost
0    B1000          17307.95        3105.52            3378
1    B1001          14085.85        3700.16            2187
2    B1002          12976.50        3287.28            3173
3    B1003          15458.80        2046.16            3581
4    B1004          12887.10        2713.36            4709
5    B1005          13811.05        2855.84            2810
6    B1006          20069.95        2836.64            3660

In [3]:
df.describe()

,Date,Water Consumption,Water Cost,Electricity Consumption,Electricity Cost,Gas Consumption,Gas Cost
count,7.0,7.000000,7.000000e+00,7.000000,7.00,7.000000,7.0
mean,2016.0,304563.428571,5.000000e-02,36687.428571,0.08,3356.857143,1.0
std,0.0,52716.385324,7.494862e-18,6442.352388,0.00,782.335697,0.0
min,2016.0,257742.000000,5.000000e-02,25577.000000,0.08,2187.000000,1.0
25%,2016.0,267875.500000,5.000000e-02,34687.500000,0.08,2991.500000,1.0
50%,2016.0,281717.000000,5.000000e-02,35698.000000,0.08,3378.000000,1.0
75%,2016.0,327667.500000,5.000000e-02,39955.000000,0.08,3620.500000,1.0
max,2016.0,401399.000000,5.000000e-02,46252.000000,0.08,4709.000000,1.0

In [5]:
df.columns

Index(['Date', 'Building', 'Water Consumption', 'Water Cost',
       'Electricity Consumption', 'Electricity Cost', 'Gas Consumption',
       'Gas Cost', 'City', 'Country'],
      dtype='object')

In [10]:
import pandas as pd

df = pd.read_csv("C:/Users/senth/OneDrive/Desktop/merged_data.csv")

df['Total_Water_Cost'] = df['Water Consumption'] * df['Water Cost']
df['Total_EB_Cost']  = df['Electricity Consumption'] * df['Electricity Cost']
df['Total_Gas_Cost'] = df['Gas Consumption'] * df['Gas Cost']

Building_cost = df.groupby(['Country', 'City', 'Building']).agg({
               'Total_Water_Cost' : 'sum', 
               'Total_EB_Cost' : 'sum',
               'Total_Gas_Cost' : 'sum'                 
}).reset_index()

print(Building_cost)

  Country         City Building  Total_Water_Cost  Total_EB_Cost  \
0     USA      Chicago    B1004          12887.10        2713.36
1     USA      Houston    B1005          13811.05        2855.84
2     USA  Los Angeles    B1003          15458.80        2046.16
3     USA     New York    B1000          17307.95        3105.52
4     USA     New York    B1001          14085.85        3700.16
5     USA     New York    B1002          12976.50        3287.28
6     USA      Phoenix    B1006          20069.95        2836.64

   Total_Gas_Cost
0            4709
1            2810
2            3581
3            3378
4            2187
5            3173
6            3660