In [1]:
import pandas as pd
import pandasql as pdsql

data = {
       'Name' : ['S1', 'S2', 'S3', 'Coby'],
       'Age' : [16, 17, 18, 20],
       'Gender' : ['Female', 'Female', 'Female', 'Male']
       }

df = pd.DataFrame(data)

query = "SELECT Age, Name, Gender From  df ORDER BY Name ASC"
result = pdsql.sqldf(query)

print(result)

   Age  Name  Gender
0   20  Coby    Male
1   16    S1  Female
2   17    S2  Female
3   18    S3  Female